<div class="page-header">
  <h1>Create a new Voucher</h1>
</div>
<div class="alert alert-danger" role="alert" ng-show="error!==''">
  <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="error=''"></span>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
<!-- Modal Window for Expense -->
<div ng-include="'/views/expense-modal.html'"></div>
<!-- Confirmation Message -->
<div ng-include="'/views/confirm-dialog.html'"></div>
<div ng-include="'/views/info-dialog.html'"></div>

<!-- The form copies the exact format used by the Vouchers in Purandara -->
<!-- Top Row a Box with the Recipient details and VR No, Date -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{organisation.name}}</h3>
  </div>
  <div class="panel-body">
    <!-- Table Recipient details on left, VR No, Data on the right-->
    <div class="row">
      <div class="col-md-7">
        <label for="recipient-details">Recipient Name & Address</label>
        <!-- Do not change indentation of textarea -->
          <textarea class="form-control" rows="4" id="recipient-details" ng-disabled="true">{{ recipientDetails }}
          </textarea>
      </div>
      <div class="col-md-5">
        <b class="pull-right">BANK/CASH/VOUCHER</b>
        <table class="table table-bordered">
          <tr>
            <td>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Vr. No.</span>
                <input type="text" class="form-control" placeholder="System Generated" aria-describedby="basic-addon1" ng-disabled="true">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Date</span>
                <!--<input type="date" class="form-control" placeholder="" aria-describedby="basic-addon1" required="true"
                       ng-model="voucher.Date"> -->
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="voucher.Date" is-open="datePickerOpened" datepicker-options="dateOptions"
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePicker()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- Table Recipient details on left, VR No, Data on the right - Ends-->
    <!-- Expenses begins -->
    <div class="row">
      <div class="col-md-8">
        <h4> Expenses </h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success" ng-click="createNewExpense()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add Expense
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <tr>
        <th>
          Sl. No.
        </th>
        <th>
          Particulars
        </th>
        <th>
          Head
        </th>
        <th>
          Amount (INR)
        </th>
        <th></th>
      </tr>
      <tr ng-repeat="expense in expenses | orderBy:'SlNo'">
        <td>
          {{ expense.SlNo }}
        </td>
        <td>
          {{ expense.Particulars }}
        </td>
        <td>
          {{ expense.HeadofAccount }}
        </td>
        <td>
          {{ expense.Amount.major + '.' + expense.Amount.minor }}
        </td>
        <td>
          <button print-hide class="btn btn-default btn-xs"
                  ng-click="editExpense(expense.SlNo)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button print-hide class="btn btn-default btn-xs" ng-click="deleteExpense(expense.SlNo)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </td>
      </tr>
    </table>
    <div class="pull-right">
      <label>Total Amount in this Voucher</label>
      <span class="badge">{{voucherTotalAmount | currency:"&#8377;"}}</span>
    </div>
    <br>
    <!-- Narration -->
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon" id="narration-addon">Narration</span>
          <input class="form-control" ng-model="voucher.Narration" placeholder="Optionally add a Narration for this voucher">
        </div>
      </div>
    </div>
    <!-- Narration -->

  </div>
  <div class="panel-footer">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="save()">
        <span class="glyphicon glyphicon-floppy-save"></span> Save</button>
      <button type="button" class="btn btn-default" ng-click="submit()">
        <span class="glyphicon glyphicon-ok-sign"></span> Submit</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Cancel</button>
    </div>
    <h4 class="pull-right"> {{voucher.State | uppercase}}</h4>
  </div>
</div>

<!-- Confirmation Dialog
<div ng-include="'views/confirm.dialog.html'"> </div>

&lt;!&ndash; Info Dialog &ndash;&gt;
<div ng-include="'views/info.dialog.html'"> </div>-->

