<div class="jumbotron">
  <h3>Your Expense Vouchers</h3>

  <div class="alert alert-danger" role="alert" ng-show="error!==''">
    <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="error=''"></span>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
  <div class="btn btn-default" ng-click="newVoucher">Create new Expense Voucher</div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="voucher in expenseVouchers">
      <p> Head: {{voucher.expenseHead}} </p>
      <p>  Description: {{voucher.expenseDescription}}</p>
      <small>Submitted on: {{voucher.submitDate}}</small>
      <small>by: {{voucher.submitter}}</small>
    </li>
  </ul>
</div>

<div class="row marketing">

</div>
