<div class="container">
  <h1 class="text-center">Welcome</h1>
  <p class="lead text-center">
    Expense Voucher Management Tool
  </p>

  <div class="alert alert-danger" role="alert" ng-show="error!==''">
    <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="error=''"></span>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
  <div class="well">
    <input type="email" class="form-control" placeholder="Email" ng-model="credentials.email">
    </br>
    <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password">
  </div>
  <p class="pull-right"><a class="btn btn-primary" ng-click="login()">
        <span class="glyphicon glyphicon-log-in"></span> Log In</a></p>
</div>


<div class="row marketing">

</div>
